.image-carousel{
    object-fit: cover; /* how image behaves inside the container: div */
    object-position: 0 30%;
    height: 400px;
}

.title-general{
    font-family: 'Staatliches', cursive;
}

.color_titles{
    color: darkred!important;
}

.color_buttons{
    background-color: darkred;
    color: white;
}

.card_border{
    border-color: darkred;
}

.general_text{
    font-family: 'Montserrat', sans-serif;
}

.card_image{
    object-fit: cover;
    height: 200px;
}

.card_width{
    max-width: 18rem;
}

.footer_background {
    background-color: darkred;
}